<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
        </exclude>
        <report>
            <html outputDirectory="./report/phpunit"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    <testsuite name="Unit">
        <directory >./tests/Unit</directory>
    </testsuite>
    <php>
        <ini name="date.timezone" value="UTC"/>
    </php>
    <logging/>
</phpunit>
